/* При задание шрифтов со своего сервера */
@font-face {
  src: local('Roboto-Thin'), local('Roboto-Thin'),
    url('../assets/fonts/Roboto-Thin.woff') format('woff'),
    url('../assets/fonts/Roboto-Thin.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Thin.ttf') format('truetype');
  font-family: 'Roboto-Thin';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: local('Roboto-Light'), local('Roboto-Light'),
    url('../assets/fonts/Roboto-Light.woff') format('woff'),
    url('../assets/fonts/Roboto-Light.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Light.ttf') format('truetype');
  font-family: 'Roboto-Light';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: local('Roboto-Regular'), local('Roboto-Regular'),
    url('../assets/fonts/Roboto-Regular.woff') format('woff'),
    url('../assets/fonts/Roboto-Regular.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: local('Roboto-Medium'), local('Roboto-Medium'),
    url('../assets/fonts/Roboto-Medium.woff') format('woff'),
    url('../assets/fonts/Roboto-Medium.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-family: 'Roboto-Medium';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: local('Roboto-Bold'), local('RobotoBold'),
    url('../assets/fonts/Roboto-Bold.woff') format('woff'),
    url('../assets/fonts/Roboto-Bold.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-family: 'Roboto-Bold';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: local('Roboto-Black'), local('Roboto-Black'),
    url('../assets/fonts/Roboto-Black.woff') format('woff'),
    url('../assets/fonts/Roboto-Black.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Black.ttf') format('truetype');
  font-family: 'Roboto-Black';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: local('RobotoCondensed-Regular'), local('RobotoCondensed-Regular'),
    url('../assets/fonts/RobotoCondensed-Regular.woff') format('woff'),
    url('../assets/fonts/RobotoCondensed-Regular.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Black.ttf') format('truetype');
  font-family: 'RobotoCondensed-Regular';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
